{% extends 'base.html' %}

{% load static %}

{% block title %}Vodloop{% endblock title %}

{% block content %}
<div class="main bg-[#dce6e5] sm:bg-gradient-to-r from-[#dce6e5] from-70% to-[#fd4527] to-30%"">
<div class="sm:container mx-4 sm:mx-auto mt-8 mb-8">

    <div class="container-hero flex flex-wrap lg:flex-nowrap justify-between">
        <div class="self-center justify-self-center">
    <div class="flex-auto text-6xl sm:text-8xl text-zinc-900 font-bold">L'AI fatto tu<br><p class="text-regular w-4/5 sm:w-full text-lg mb-8">Un podcast dedicato a chi vuole saperne di più</p></div>
   <a href={% url "podcasts_list" %}> <button class="bg-[#fd4527] text-white text-sm px-8 py-2 border-2 border-[#fd4527] rounded-lg font-medium hover:bg-transparent hover:text-[#fd4527] hover:border-2 hover:border-[#fd4527] transition transition ease-in-out duration-500">Scopri gli episodi</button></a>
        </div>
      
   
<div class="scene">
  <div class="cube">
    <div class="cube__face cube__face--front">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
    <div class="cube__face cube__face--back">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
    <div class="cube__face cube__face--right">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
    <div class="cube__face cube__face--left">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
    <div class="cube__face cube__face--top">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
    <div class="cube__face cube__face--bottom">
      <svg class="svg-face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177 177">
        <line class="pattern1" x1="5" y1="5" x2="172" y2="5"/>
        <line class="pattern1" x1="5" y1="172" x2="172" y2="172"/>
        <line class="pattern1" x1="5" y1="5" x2="5" y2="172"/>
        <line class="pattern1" x1="172" y1="5" x2="172" y2="172"/>
        <line class="pattern2" x1="172" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="5" y1="88.5" x2="88.5" y2="88.5"/>
        <line class="pattern2" x1="88.5" y1="172" x2="88.5" y2="88.5"/>
      </svg>
    </div>
  </div>
</div>


    
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for podcast in podcasts %}
        <a href="{% url "detail" podcast.slug %}" class="bg-zinc-900 rounded-lg shadow-md p-6 flex flex-col justify-between transition ease-in-out duration-500 hover:-translate-y-3 delay-75 group">
            <div>
                <div class="overflow-hidden">
                <img src="{{ podcast.thumbnail.url }}" alt="Podcast Thumbnail" class="w-full h-[27rem] object-cover rounded-lg mb-4 transition ease-in-out duration-500 group-hover:scale-105 delay-75">
                </div>
                <h3 class="text-lg text-[#dce6e5] font-bold mb-2">{{ podcast.title }}</h3>
                <p class="mb-4 text-zinc-500">{{ podcast.description|truncatewords:20 }}</p>
                <p><i class="text-[#dce6e5] text-sm">By</i> <i class="text-[#fd4527] text-sm font-medium">{{podcast.author}}</i></p>
                 <p class="mb-4 mt-4"><i class="text-[#dce6e5]"></i><ul class="flex flex-wrap gap-2 mt-2">
            {% for category in podcast.categories.all %}
                <li class="text-sm font-normal text-white">{{ category.name }}</li>
            {% empty %}
                <li class="text-gray-500">No category assigned</li>
            {% endfor %}
        </ul></p>
                
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="flex flex-wrap lg:flex-nowrap mt-12 mb-12">
    <a href={% url "podcasts_list" %}> <button class="bg-[#fd4527] text-white text-sm px-8 py-2 border-2 border-[#fd4527] rounded-lg font-medium hover:bg-transparent hover:text-[#fd4527] hover:border-2 hover:border-[#fd4527] transition transition ease-in-out duration-500">Scopri tutti gli episodi</button></a>
    </div>
</div>
</div>

{% endblock content %}

