{% extends 'base.html' %}
{% block title %}{{ podast.title }}Vodloop{% endblock title %}
{% block content %}
<div class="bg-img-fix flex justify-center items-center min-h-[100vh]">
    <div class="w-full max-w-md bg-[#fd4527] p-6 rounded-lg shadow-lg">

        <h1 class="privacy-policy-h1">Informativa sulla Privacy</h1>
        <br>
        <p class="privacy-policy-p">
            Questa Informativa sulla Privacy descrive le politiche di  
            ADM Media Consulting SA,  
            Via Giuseppe Corti n.5,  
            Balerna  
            6828,  
            Svizzera,  
            email: <a style="font-weight:500;" href="mailto:info@adm-mediaconsulting.co">info@adm-mediaconsulting.com</a>,
            telefono: +41912520243  
            riguardo alla raccolta, utilizzo e divulgazione delle informazioni che raccogliamo  
            quando utilizzi il nostro sito web (vodloop.com).  
            Accedendo o utilizzando il Servizio offerto, acconsenti alla raccolta, utilizzo e divulgazione delle tue informazioni in conformità con questa  
            Informativa sulla Privacy. Se non acconsenti,  
            ti preghiamo di non accedere o utilizzare il Servizio.
        </p>
        
        <p class="privacy-policy-p">
            Potremmo modificare questa Informativa sulla Privacy in qualsiasi momento senza  
            preavviso e pubblicheremo l’Informativa aggiornata sul Servizio. L’Informativa aggiornata sarà  
            efficace 180 giorni dopo la pubblicazione sul Servizio e il tuo  
            accesso o utilizzo continuo del Servizio dopo tale periodo  
            costituirà l’accettazione dell’Informativa aggiornata. Ti consigliamo quindi di  
            rivedere periodicamente questa pagina.
        </p>
        <br>
        <h2 class="privacy-policy-h2">Dati Personali che Raccogliamo con la Richiesta di Contatto:</h2>
        
        <p class="privacy-policy-p">
            Raccoglieremo e tratteremo le seguenti  
            informazioni personali su di te:
        </p>
        <br>
        <ul class="space-y-4 list-disc list-inside">
            <li>Nome</li>
            <li>Email</li>
            <li>Telefono cellulare</li>
        </ul>
        <br>
        <h2 class="privacy-policy-h2">Come Utilizziamo le Tue Informazioni:</h2>
        <p class="privacy-policy-p">
            Utilizzeremo le informazioni che raccogliamo  
            su di te per i seguenti scopi:
        </p>
        <ul>
            <li>Supporto</li>
        </ul>
        
        <p class="privacy-policy-p">
            Se desideriamo utilizzare le tue informazioni per altri  
            scopi, ti chiederemo il consenso e utilizzeremo le tue  
            informazioni solo dopo aver ricevuto il consenso e solo per lo scopo(i) per  
            cui hai dato il consenso, salvo che non siamo obbligati a fare diversamente per legge.
        </p>
        <br>
        <h2 class="privacy-policy-h2">Come Condividiamo le Tue Informazioni:</h2>
        
        <p class="privacy-policy-p">
            Non trasferiremo le tue informazioni personali  
            a terzi senza il tuo consenso.  
        </p>
        
        <p class="privacy-policy-p">
            Potremmo anche divulgare le tue informazioni personali  
            nei seguenti casi: (1) per conformarci a leggi applicabili,  
            regolamenti, ordini del tribunale o altri procedimenti legali; (2) per far rispettare i tuoi accordi con noi,  
            inclusa questa Informativa sulla Privacy; o (3) per rispondere  
            a reclami secondo cui il tuo utilizzo del Servizio viola i diritti di terzi.  
            Se il Servizio o la nostra azienda viene fusa o acquisita da un'altra  
            azienda, le tue informazioni saranno uno dei  
            beni trasferiti al nuovo proprietario.
        </p>
        <br>
        <h2 class="privacy-policy-h2">Conservazione delle Tue Informazioni:</h2>
        <p class="privacy-policy-p">
            Conserveremo le tue informazioni personali per il tempo necessario  
            per soddisfare gli scopi per i quali sono state raccolte, come indicato in questa  
            Informativa sulla Privacy. Potremmo dover conservare determinate  
            informazioni per periodi più lunghi per motivi legali,  
            prevenzione di frodi, ecc. Le informazioni anonime residue e aggregate,  
            che non ti identificano né direttamente né indirettamente,  
            possono essere conservate indefinitamente.
        </p>
        <br>
        <h2 class="privacy-policy-h2">I Tuoi Diritti:</h2>
        <p class="privacy-policy-p">
            A seconda della legge applicabile, potresti avere il diritto di accedere, rettificare o cancellare i tuoi  
            dati personali, riceverne una copia, limitare o opporti al trattamento attivo dei tuoi dati, chiedere la  
            trasmissione (portabilità) delle tue informazioni personali a un'altra entità, revocare il consenso dato  
            per trattare i tuoi dati, presentare un reclamo presso un'autorità competente e altri diritti previsti  
            dalla legge applicabile. Per esercitare questi diritti, puoi scriverci all'indirizzo info@adm-mediaconsulting.com.  
            Risponderemo alla tua richiesta in conformità con la legge applicabile.
        </p>
        
        <p class="privacy-policy-p">
            Puoi rinunciare a comunicazioni di marketing diretto o alla profilazione che eseguiamo per scopi  
            di marketing scrivendoci all'indirizzo:<br><a style="font-weight:500;" href="mailto:info@adm-mediaconsulting.co">info@adm-mediaconsulting.com</a>.  
        </p>
        
        <p class="privacy-policy-p">
            Nota che se non ci consenti di raccogliere o elaborare le informazioni personali richieste,  
            potresti non essere in grado di accedere o utilizzare i servizi per i quali sono state richieste le tue informazioni.  
        </p>
        <br>
        <h2 class="privacy-policy-h2">Sicurezza:</h2>
        <p class="privacy-policy-p">
            La sicurezza delle tue informazioni è importante per noi e adotteremo misure ragionevoli per prevenire  
            la perdita, l'abuso o la modifica non autorizzata delle tue informazioni sotto il nostro controllo. Tuttavia,  
            date le limitazioni inerenti ai sistemi, non possiamo garantire una sicurezza assoluta e  
            non possiamo assicurarci o garantire la sicurezza delle informazioni trasmesse a noi, che avviene a tuo rischio.  
        </p>
        <br>
        <h2 class="privacy-policy-h2">Collegamenti a Terze Parti e Uso delle Tue Informazioni:</h2>
        <p class="privacy-policy-p">
            Il nostro Servizio può contenere collegamenti ad altri siti web che non sono gestiti da noi. Questa Informativa sulla  
            Privacy non si applica alle pratiche di terze parti. Ti consigliamo di rivedere l'informativa sulla privacy  
            di ogni sito che visiti. Non abbiamo alcun controllo né assumiamo alcuna responsabilità per il contenuto,  
            le politiche sulla privacy o le pratiche di siti o servizi di terze parti.  
        </p>
        <br>
        <h2 class="privacy-policy-h2">Proprietario e Responsabile della Protezione dei Dati:</h2>
        <p class="privacy-policy-p">
            ADM Media Consulting SA<br>
            Via Giuseppe Corti n.5<br>6828 Balerna (CH)<br><br>
            Se hai domande o dubbi riguardo al trattamento delle tue informazioni, puoi contattare il nostro Responsabile  
            della Protezione dei Dati, che affronterà le tue preoccupazioni in conformità con la legge applicabile.<br>  
            Email: <a style="font-weight:500;" href="mailto:info@adm-mediaconsulting.co">info@adm-mediaconsulting.com</a>  
        </p>



    </div>
</div>
  {% endblock content %}        