
{% extends 'base.html' %}

{% block content %}

<div class="bg-img flex justify-center items-center min-h-[100vh]">
    <div class="w-full max-w-md bg-zinc-800 p-6 rounded-lg shadow-lg">
        <div class="text-3xl text-center font-bold text-[#fd4527] mb-3">Shhhhhh!</div>
        <div class="text-base text-center font-medium text-white mb-5">Abbiamo ricevuto il tuo messaggio.<br>Ti risponderemo il prima possibile, nel frattempo fai qualcosa di divertente.</div>
    </div>
</div>

{% endblock content %}

